* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #666;
    color: #fff;
    line-height: 1.6;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    list-style: none;
    margin: 2rem 1rem;
    padding: 1rem;
}

.active {
  border-bottom: 3px solid #58ea00;
}

.navbar ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #f4f4f4;
    transition: transform .3s;
}

ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #58ea00;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;
}

ul li a:hover::after {
    transform: scaleX(1);
}

section#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .3)), url(../img/home-bg.jpg) center no-repeat;
  background-size: cover;
}

#myKeyFrame {
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #58ea00;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    perspective: 200px;
    animation: movingAround 5s .5s 3 both;
    /*animation-name: movingAround;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 3;*/
}

#myKeyFrame:before {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    border: 1px solid #58ea00;
    border-radius: 50%;
    animation: pulsing 3s linear infinite;
}

@keyframes movingAround {
    0% {transform:  translate(-500px, -250px) rotateX(50deg) rotateY(-5deg); }
    25% {transform: translate(500px, -250px) rotateX(-50deg) rotateY(5deg); }
    50% {transform: translate(500px, 250px) rotateX(5deg) rotateY(-50deg); }
    75% {transform: translate(-500px, 250px) rotateX(-50deg) rotateY(5deg); opacity: 1;}
    100% {transform: translate(-500px, -250px); opacity: 0;}
}

@keyframes pulsing {
    0% { transform: scale(0.5); opacity: 0; }
    50% {transform: scale(1); opacity: 1; }
    100% { transform: scale(1.2); opacity: 0; } 
}

.banner {
    color: #fff;
    width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .banner-heading {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 90px;
    border-bottom: 3px solid red;
    color: gold;
  }
  
  .arrow {
    font-size: 36px;
    margin-bottom: 30px;
    animation: arrowAnimation 3s infinite;
  }
  
  .banner-btn {
    width: 200px;
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: blue;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #fff;
    outline: none;
    cursor: pointer;
    transition: transform .3s;
  }
  
  .banner-btn:hover {
    transform: translateY(-10px);
  }
  
  @keyframes arrowAnimation {
    0% {transform: translateY(0)}
    20% {transform: translateY(0)}
    40% {transform: translateY(-30px)}
    50% {transform: translateY(0)}
    60% {transform: translateY(-15)}
    80% {transform: translateY(0)}
    100% {transform: translateY(0)}
  }
  
  .form-container {
    width: 360px;
    height: 450px;
    position: absolute;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
  }
  
  .sign-up-form {
    width: 100%;
    height: 100%;
    background: #cfcfcf;
  }
  
  .form-input {
    position: relative;
    top: 90px;
    width: 300px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #cc683c;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #666;
    margin-bottom: 50px;
    outline: none;
    padding: 10px 0;
    transition: border-bottom-color .8s;
    justify-content: center;
    text-align: center;
  }
  
  .form-input:focus {
    border-bottom-color: #cc683c;
  }
  
  .btn-submit {
    margin-top: 90px;
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
  }
  
  .btn-close {
    margin-top: 90px;
    padding: 10px 0;
    background-color: #cc683c;
    color: #fff;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }

/* Styling for Service Page*/
.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.main-header {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 2rem 0;
}

.main-header h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  border-bottom: 3px solid red;
  color: gold;
}

.main-header p {
  font-size: 18px;
}

img {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #999;
  margin-bottom: 2rem;
}

.card img {
  height: 333px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

@media(max-width: 700px) {
  .card {
    display: block;
  }
} 